.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #d6d0d0;
  padding: 15px;
  border-radius: 5px;
}

.category {
  font-size: 20px;
  font-weight: 600;
}

.date {
  align-self: flex-end;
}
