.form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 30px;
  & input {
    border: none;
    outline: none;
    box-shadow: var(--shadow);
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgba(64, 197, 11, 0.5);
  }
  & button {
    font-size: 18px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: var(--accent);
    color: white;
    box-shadow: var(--shadow);
    transition: background-color 0.2s ease-in-out;
    &:hover,
    &:focus {
      background-color: var(--accentHover);
    }
  }
}
